/00gnulib.m4
/absolute-header.m4
/af_alg.m4
/alloca.m4
/byteswap.m4
/calloc.m4
/close.m4
/double-slash-root.m4
/dup2.m4
/eealloc.m4
/errno_h.m4
/error.m4
/explicit_bzero.m4
/extensions.m4
/extern-inline.m4
/fcntl-o.m4
/fcntl.m4
/fcntl_h.m4
/fflush.m4
/fpurge.m4
/freading.m4
/free.m4
/fseek.m4
/fseeko.m4
/fstat.m4
/ftell.m4
/ftello.m4
/getdtablesize.m4
/getopt.m4
/getprogname.m4
/getrandom.m4
/gl-openssl.m4
/gnulib-common.m4
/gnulib-comp.m4
/gnulib-tool.m4
/include_next.m4
/inttypes.m4
/largefile.m4
/limits-h.m4
/lseek.m4
/malloc.m4
/malloca.m4
/md5.m4
/minmax.m4
/mode_t.m4
/msvc-inval.m4
/msvc-nothrow.m4
/multiarch.m4
/nocrash.m4
/off_t.m4
/open-cloexec.m4
/open-slash.m4
/open.m4
/pathmax.m4
/pid_t.m4
/realloc.m4
/reallocarray.m4
/size_max.m4
/socklen.m4
/sockpfaf.m4
/ssize_t.m4
/stat-time.m4
/stat.m4
/std-gnu11.m4
/stdalign.m4
/stdbool.m4
/stddef_h.m4
/stdint.m4
/stdio_h.m4
/stdlib_h.m4
/strerror.m4
/string_h.m4
/sys_random_h.m4
/sys_socket_h.m4
/sys_stat_h.m4
/sys_types_h.m4
/sys_uio_h.m4
/time_h.m4
/ungetc.m4
/unistd_h.m4
/vararrays.m4
/warn-on-use.m4
/wchar_h.m4
/wchar_t.m4
/wint_t.m4
/xalloc.m4
/xsize.m4
/year2038.m4
/zzgnulib.m4
