Makefile.in
aclocal.m4
autom4te.cache/
config.h.in
config/compile
config/config.guess
config/config.sub
config/depcomp
config/install-sh
config/ltmain.sh
config/missing
configure
config/*.m4
.deps/
.libs/
Makefile
config.h
config.log
config.status
libtool
pam_tacplus.spec
stamp-h1
*.o
*.lo
*.la
*.c.swp
*.h.swp
.autotools
.cproject
.project
.settings/
cov-int/
