Source: libpam-tacplus
Section: admin
Priority: optional
Maintainer: Pawel Krawczyk <p+debian@krvtz.net>
Build-Depends: debhelper (>= 9), libpam-dev, autoconf-archive, gnulib, libtool
Standards-Version: 4.6.1.0
Homepage: https://github.com/kravietz/pam_tacplus

Package: libpam-tacplus
Architecture: any
Depends: ${shlibs:Depends}, ${misc:Depends}, libpam-runtime, libtac5
Description: PAM module for using TACACS+ as an authentication service
 This PAM module support authentication, authorization (account management) and
 accounting (session management) performed using TACACS+ protocol designed by
 Cisco.

Package: libtac5
Architecture: any
Depends: ${shlibs:Depends}, ${misc:Depends}
Description: TACACS+ protocol library 
 This library implemenents the fundamentls of the TACACS+ protocol and supports
 authentication, authorization (account management) and accounting (session management).

Package: libtac5-bin
Architecture: any
Depends: ${shlibs:Depends}, ${misc:Depends}
Description: TACACS+ client program
 Simple command-line client for TACACS+ testing and scripting

Package: libtac-dev
Section: libdevel
Architecture: any
Depends: ${misc:Depends}, libtac5 (= ${binary:Version}), libc6-dev|libc-dev
Description: Development files for TACACS+ protocol library 
 Contains C header files and development files for libtac, a TACACS+ protocol
 implementation.
